src/main/resources/META-INF/xsd/custom.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://code.jin.me/schema/custom"
            targetNamespace="http://code.jin.me/schema/custom"
            elementFormDefault="qualified">
    <xsd:element name="user">
        <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string" />
            <xsd:attribute name="id" type="xsd:string" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>